* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

/* ---- button ---- */

#ps4button:active,
#ps4button.is-checked {
  transition-duration:0.3s;
  color: blue;
}
#ps3button:active,
#ps3button.is-checked {
  transition-duration:0.3s;
  color: blue;
}
#xboxbutton:active,
#xboxbutton.is-checked {
  transition-duration:0.3s;
  color: green;
}
#switchbutton:active,
#switchbutton.is-checked {
  transition-duration:0.3s;
  color: red;
}
.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: transparent;
  border: none;
  border-radius: 7px;
  color: #222;
 font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
  cursor: pointer;
}

.button:hover {
  transition-duration:0.3s;
  color: #222;
}

.button:active,
.button.is-checked {
  background-color:rgba(0,0,0,0.1);

}
#gicon{
  color:#000;
}
.button:active,
.button.is-checked #gicon{
  color:#47D1DE;
   text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.button.is-checked {
 color:#000;
}

.button:active {
}

/* ---- button-group ---- */

.button-group {
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: auto;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child {  }
.button-group .button:last-child {  }

/* ---- isotope ---- */

.grid {
  border: 1px solid transparent;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 240px;
  min-height: 300px;
  height: auto;
  margin: 5px;
  padding: 0px;
  background: rgba(255,255,255,0.15);
  color: #262524;
  overflow: hidden;
}
.element-item:hover {
  cursor: url(img/scope.png), auto;
}

.element-item > * {
  margin: 0;
  padding: 10;
}

#faded{
  opacity: 0;
}
.element-item:hover #faded {
   transition-duration:0.8s;
   transition-delay:0.8s;
opacity: 1;
  }
.element-item .name {
  position: absolute;
  left: 0px;
  top: -10px;
  color: rgba(0,0,0,0.8);
  padding:10px;
  background:rgba(255,255,255,0.9);
  font-family: 'Rajdhani', sans-serif;
  width:100%;
  text-transform: none;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: normal;
}
.element-item .category {
  position: absolute;
  left: 0px;
  bottom: -5px;
  font-family: 'Rajdhani', sans-serif;
  background:rgba(255,255,255,0.9);
  color: rgba(0,0,0,0.8);
  width:100%;
  text-transform: none;
  letter-spacing: 0;
  font-size: 16px;
  font-weight: normal;
}
.element-item .platform {
  position: absolute;
  left: 0px;
  bottom: 20px;
  color: rgba(255,255,255,0.9);
  padding:10px;
  background:rgba(0,0,0,0.0);
  font-family: 'Roboto',sans-serif;
  width:100%;
  text-align: center;
  text-transform: none;
  letter-spacing: 0;
  font-size: 16px;
  font-weight: normal;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}


.element-item .weightb:hover{
  transition-duration:1.2s;
  color: #fff;
     background-color: rgba(239,194,55,0.9);
  width:100%;
}
.element-item .weight2b:hover{
  transition-duration:1.2s;
  color: #1b1f20;
   background-color: rgba(225,223,213,0.9);
  width:100%;
}
.element-item .weight3b:hover{
  transition-duration:1.2s;
  color: #fff;
   background-color: rgba(168,123,44,0.9);
  width:100%;
}
.element-item .gameimgXBOX1{
  position: absolute;
  background-color: rgba(255,255,255,0.2);
  top:45px;
  color: white;
  width:160px;
  left:40px;
  height:200px;
}
.element-item:hover .gameimgXBOX1{
  transition-duration:2s;
  cursor: crosshair;
  width: 210px;
  height: 263px;
  left:15px;
  top:15px;
}
.element-item .gameimgXBOX360{
  position: absolute;
  background-color: rgba(255,255,255,0.2);
  top:30px;
  color: white;
  width:160px;
  left:40px;
  height:230px;
}
.element-item:hover .gameimgXBOX360{
  transition-duration:2s;
  cursor: crosshair;
  width: 210px;
  height: 293px;
  left:15px;
  top:15px;
}
.element-item:hover .gameimgPS4{
  transition-duration:2s;
  cursor: crosshair;
  width: 210px;
  height: 263px;
  left:15px;
  top:15px;
}
.element-item .gameimgPS4{
  position: absolute;
  background-color: rgba(255,255,255,0.2);
  top:45px;
  color: white;
  width:160px;
  left:40px;
  height:200px;
}

.element-item .gameimgSWITCH{
  position: absolute;
  background-color: rgba(255,255,255,0.2);
  top:25px;
  color: white;
  width:150px;
  left:45px;
  height:250px;
}
.element-item:hover .gameimgSWITCH{
  transition-duration:2s;
  cursor: crosshair;
  width: 173px;
  height: 290px;
  left:34px;
  top:15px;
}
.element-item .gameimgPS3{
  position: absolute;
  background-color: rgba(255,255,255,0.2);
  top:45px;
  color: white;
  width:168px;
  left:36px;
  height:200px;
}
.element-item:hover .gameimgPS3{
  transition-duration:2s;
  cursor: crosshair;
  width: 220px;
  height: 263px;
  left:10px;
  top:15px;
}
.element-item .gameimgPC{
  position: absolute;
  background-color: rgba(255,255,255,0.2);
  top:35px;
  color: white;
  width:160px;
  left:40px;
  height:227px;
}
.element-item:hover .gameimgPC{
  transition-duration:2s;
  cursor: crosshair;
  width: 200px;
  height: 284px;
  left:19px;
  top:10px;
}

.element-item .weightb {
   font-family: 'Rajdhani', sans-serif;
  position: absolute;
  background-color: rgba(239,194,55,0.8);
  color: white;
  width:80px;
  left: 0px;
  border-bottom-right-radius: 10px;
  top: 70px;
  font-size: 18px;
}
.element-item .weight2b {
   font-family: 'Rajdhani', sans-serif;
  position: absolute;
  background-color: rgba(225,223,213,0.8);
  border-bottom-right-radius: 10px;
  color: white;
  width:70px;
  left: 0px;
  top: 130px;
  font-size: 18px;
}
.element-item .weight3b {
   font-family: 'Rajdhani', sans-serif;
  position: absolute;
  background-color: rgba(168,123,44,0.8);
  color: white;
  width:60px;
  left: 0px;
  border-bottom-right-radius: 10px;
  top: 190px;
  font-size: 18px;
}
#price1{
  display: none;
}
.weightb:hover #price1{
  display: block;
}
#price2{
  display: none;
}
.weight2b:hover #price2{
  display: block;
}
#price3{
  display: none;
}
.weight3b:hover #price3{
  display: block;
}
.element-item .descript {
  position: absolute;
  color:#e0e0e0;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  font-family: 'Roboto',sans-serif;
  top:70px;
  margin-left: 5px;
  padding: 20px,0px,20px,10px;
  font-size: 18px;
}
/* SALVAGE CATEGORIES */

#COMPUTER{
  color: rgba(255,255,255,0.7);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  background-color:rgba(0,20,20,0.6);
}
#PHONE{
  color: rgba(255,255,255,0.7);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  background-color:rgba(255,255,255,0.4);
}
#MUSIC-PLAYER{
  color: rgba(255,255,255,0.7);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  background-color:rgba(140,220,125,0.6);
}
#CRAFT{
  color: rgba(255,255,255,0.7);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  background-color:rgba(115,80,200,0.6);
}
#MEDIA-PLAYER{
  color: rgba(255,255,255,0.7);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  background-color:rgba(15,180,220,0.6);
}
#REMOTE-CONTROL{
  color: rgba(255,255,255,0.7);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  background-color:rgba(225,70,70,0.6);
}
/* PART CATEGORIES */
#LED{
  color: rgba(255,255,255,0.7);

  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  background-color:rgba(215,80,0,0.6);
}
#MICRO-CONTROLLER{
  color: rgba(255,255,255,0.7);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  background-color:rgba(0,180,160,0.6);
}
#MICRO-COMPUTER{
  background-color:rgba(200,220,0,0.6);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.7);
}
#MISC{
  background-color:rgba(120,0,100,0.6);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.7);
}
#OTHER{
  background-color:rgba(0,200,20,0.6);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.7);
}
#SENSOR{
  background-color:rgba(0,20,200,0.6);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.7);
}
#POWER{
  background-color:rgba(220,20,0,0.6);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.7);
}
#MODULE{
  background-color:rgba(220,120,100,0.6);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.7);
}
#MOTOR{
  background-color:rgba(0,0,0,0.6);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.7);
}

/* TOOL CATEGORIES */

#POWER-TOOL{
  background-color:rgba(123,195,50,0.6);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.7);
}
#HAND-TOOL{
  background-color:rgba(220,80,60,0.6);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.7);
}
#METAL{
  background-color:rgba(220,220,220,0.6);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.7);
}
#WOOD{
  background-color:rgba(150,121,89,0.6);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.7);
}
#FABRIC{
  background-color:rgba(91,50,122,0.6);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.7);
}
#PLASTIC{
  background-color:rgba(255,178,20,0.6);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.7);
}
#UTILITY{
  background-color:rgba(0,128,255,0.6);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.7);
}
/*small SCALE*/
@media screen and (max-width: 546px) {
  .grid {
}
 .element-item {
  position: relative;
  float: left;
  width: 96%;
  min-height: 300px;
  height: auto;
  margin: 5px;
  padding: 0px;
  background: rgba(255,255,255,0.15);
  color: #262524;
  overflow: hidden;
}

.element-item .gameimgXBOX1{
  position: absolute;
  background-color: rgba(255,255,255,0.2);
  top:45px;
  color: white;
  width:160px;
  left:32%;
  height:200px;
}
.element-item:hover .gameimgXBOX1{
  top:45px;
  color: white;
  width:160px;
  left:32%;
  height:200px;
}

.element-item .gameimgXBOX360{
  position: absolute;
  background-color: rgba(255,255,255,0.2);
  top:30px;
  color: white;
  width:160px;
  left:32%;
  height:230px;
}
.element-item:hover .gameimgXBOX360{
   top:30px;
  color: white;
  width:160px;
  left:32%;
  height:230px;
}
.element-item:hover .gameimgPS4{
    top:45px;
  color: white;
  width:160px;
  left:32%;
  height:200px;
}
.element-item .gameimgPS4{
  position: absolute;
  background-color: rgba(255,255,255,0.2);
  top:45px;
  color: white;
  width:160px;
  left:32%;
  height:200px;
}

.element-item .gameimgSWITCH{
  position: absolute;
  background-color: rgba(255,255,255,0.2);
  top:25px;
  color: white;
  width:150px;
  left:32%;
  height:250px;
}
.element-item:hover .gameimgSWITCH{
  top:25px;
  color: white;
  width:150px;
  left:32%;
  height:250px;
}
.element-item .gameimgPS3{
  position: absolute;
  background-color: rgba(255,255,255,0.2);
  top:45px;
  color: white;
  width:168px;
  left:32%;
  height:200px;
}
.element-item:hover .gameimgPS3{
  transition-duration:2s;
  cursor: crosshair;
   top:45px;
  color: white;
  width:168px;
  left:32%;
  height:200px;
}
.element-item .gameimgPC{
  position: absolute;
  background-color: rgba(255,255,255,0.2);
  top:35px;
  color: white;
  width:160px;
  left:32%;
  height:227px;
}
.element-item:hover .gameimgPC{
    top:35px;
  color: white;
  width:160px;
  left:32%;
  height:227px;
}
 }


